/* .post__cont {
    box-shadow: var(--bs);
} */

.postImageWrapper{
    height: 450px;
    overflow: hidden;
    box-shadow: var(--bs);

}

.postImageWrapper img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.post__text {
    text-align: center;
    padding: 1.55em;
    box-shadow: var(--bs);

}